* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: black;
  font-family: sans-serif;
}

.reveal-up {
  will-change: transform, opacity;
}

.scroll-float {
  will-change: transform;
}

.fade-left-on-scroll {
  will-change: transform, opacity;
}

.fade-left-item {
  will-change: transform, opacity;
}
